[workspace]
members = [
  "http-api",
  "org-node",
  "git-server",
  "service-init",
  "shared",
]

[patch.crates-io.radicle-daemon]
git = "https://github.com/radicle-dev/radicle-link"
rev = "b51ed772fe4ec2ae4fdb4e95bac0e3271be197c8"

[patch.crates-io.librad]
git = "https://github.com/radicle-dev/radicle-link"
rev = "b51ed772fe4ec2ae4fdb4e95bac0e3271be197c8"

# These patches are the same as those listed in
# https://github.com/radicle-dev/radicle-link/blob/master/Cargo.toml

[patch.crates-io.thrussh-encoding]
git = "https://github.com/FintanH/thrussh.git"
branch = "generic-agent"

[profile.release]
debug = true
