version: "3.7"
services:
  http-api:
    image: gcr.io/radicle-services/http-api:latest
    build:
      dockerfile: ./http-api/Dockerfile
      context: .
    ports:
      - 8777:8777
    volumes:
      - $HOME/.radicle:/app/radicle:ro
    environment:
      RUST_LOG: info
    init: true
    container_name: http-api
    restart: unless-stopped
  caddy:
    image: caddy:2.4.5
    ports:
      - 80:80
      - 443:443
    command: caddy reverse-proxy --from $DOMAIN --to http-api:8777
    depends_on:
      - http-api
  org-node:
    image: gcr.io/radicle-services/org-node:latest
    build:
      dockerfile: ./org-node/Dockerfile
      context: .
    ports:
      - 8776:8776/udp
    volumes:
      - $HOME/.radicle:/app/radicle
    environment:
      RUST_LOG: org-node=debug,info
    init: true
    container_name: org-node
    restart: unless-stopped
    command: ["--orgs", $RADICLE_ORGS, "--subgraph", "https://gateway.thegraph.com/api/1758a78ae257ad4906f9c638e4a68c19/subgraphs/id/0x2f0963e77ca6ac0c2dad1bf4147b6b40e0dd8728-0", "--rpc-url", $ETH_RPC_URL]
  git-server:
    image: gcr.io/radicle-services/git-server:latest
    build:
      dockerfile: ./git-server/Dockerfile
      context: .
    ports:
      - 8779:8778
    volumes:
      - $HOME/.radicle:/app/radicle
    init: true
    container_name: git-server
    restart: unless-stopped
